{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="">
{% endblock %}

{% block content %}

{%if object%}
<div class="page-header">
  <h1> edit channels</h1>
</div>
{% else%}
<div class="page-header">
  <a href="{% url 'channels_index' %}">
    <button>Back to channels</button></a>
  <h1>Create a New Channel!</h1>
</div>
{%endif%}
<form method="POST" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}