{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
      integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5"
      crossorigin="anonymous"
    />
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="https://www.pngitem.com/pimgs/m/64-648908_swiss-cheese-clipart-11-buy-clip-art-cheese.png">

    <title>cheddit</title>
    {% block head %} {% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <img
          src="{% static 'images/cheese.svg' %}"
          alt="Cheddit"
        />
        <ul>
          {% if user.is_authenticated %}
          <li><a href="{% url 'channels_index' %}">All Channels</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          {% else %}
          <li><a href="{% url 'channels_index' %}">All Channels</a></li>
          <li><a href="{% url 'home' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    
  </body>
</html>