{% extends 'base.html'%}

{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

{% if not user.is_authenticated %}
  <section class='loginform'>
    <form action="{% url 'home' %}" method="post" class="login">
      <h1>Login</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="button pure-button pure-button-active">Login</button>
    </form>
  </section>
  {% else %}
  <h1>You are already logged in!</h1>
  
{% endif %}

{% endblock %}