html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

.channel-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
}

body{
    background-color: blanchedalmond;
}



.button {
    width: 20rem;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    margin-right: 85vw;
}

.editdelete {
    display: inline-flex;
    flex-direction: row;
    margin-left: 38%;
}
  

.button1 {
    width: 15rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    margin-left: 25%;
}