html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

.div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
}

body{
    background-color: blanchedalmond;
}

.card-container {
  
  max-width: 700px;
  margin: auto;
  text-align: center;
  font-family: arial;
  font-size: 2rem;
  
}

.button {
    width: 20rem;
    margin-top: 2.5rem;
    font-size: 2rem;
}

.btn-thread1 {
  margin-left: 114px;
}

.card-thread {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  min-width: 50rem;
  max-width: 700px;
  margin: auto;
  text-align: center;
  font-family: arial;
  font-size: 2rem;
  background-color: rgb(239, 187, 108);
}

.button {
  width: 15rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.button1 {
  width: 15rem;
  font-size: 1.5rem;
  margin-bottom: 10rem;
  margin-left: auto;
}

p {
  font-size: 2rem;
}



.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
