@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap');

body {
  background-color: white;
  font-family: 'Yantramanav', sans-serif;
}

.loginform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20vh;
}

p {
  font-size: 2.5rem;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}

.button {
  width: 15rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.center {
  text-align: center;
}

.my-btn {
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  padding: 5px 30px;
  background-color: #7FC3F2;
  transition: .2s ease-in-out;
  border: 2px solid #7FC3F2;
}

.my-btn:hover {
  border: 2px solid #4C63FC;
}