@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap');

h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

body {
  background-color: white;
  font-family: 'Yantramanav', sans-serif;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

table {
  font-size: 1.5rem;
}

.signupform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.my-btn {
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  padding: 5px 30px;
  background-color: #7FC3F2;
  transition: .2s ease-in-out;
  border: 2px solid #7FC3F2;
}

.my-btn:hover {
  border: 2px solid #4C63FC;
}

.center {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}