@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap');

html {
  box-sizing: border-box
}

/* The Universal Selector */
*,
/* All elements*/
*::before,
/* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%
}


.card-container {
  width: 50%
}

body {
  background-color: white;
}

.card-container-thread-edit {
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
  font-size: 2rem;
}

/* .button {
  width: 20rem;
  margin-top: 2.5rem;
  font-size: 2rem;
} */

.page {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 50%;
  margin-right: 20px;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid rgb(212, 212, 212);
}

.editdelete {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.delete-btn {
  margin-right: 1rem;
}


.card-container h1 {
  font-family: 'Yantramanav', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 40px;
}


.my-btn {
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  background-color: #7FC3F2;
  transition: .2s ease-in-out;
  border: 2px solid #7FC3F2;
  font-family: 'Yantramanav', sans-serif;
}

.my-btn:hover {
  border: 2px solid #4C63FC;
}

.delete-btn {
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  background-color: #f2837f;
  transition: .2s ease-in-out;
  border: 2px solid #f2837f;
  font-family: 'Yantramanav', sans-serif;
}

.delete-btn:hover {
  border: 2px solid #ee544f;
}

.thread-name {
  text-align: center;
}

.thread-details {
  text-align: center;
}

.card-container p {
  font-size: 15px;
}

.total-container {
  margin: 10px 5px 0 20px;
}

span {
  font-size: 18px;
  font-weight: 500;
}

.domestic-text-bubble {
  background-color: #7FC3F2;
  border-radius: 2px;
  padding: 5px;
  margin: 5px 0 0 0;
}

.foreign-text-bubble {
  background-color: #dfdfdf;
  border-radius: 2px;
  padding: 5px;
  margin: 5px 0 0 0;
  width: fit-content;
}

.icon-trash {
  background-color: transparent;
  color: #ee544f;
  border: none;
}

.comment-card {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 70vh;
  width: 100%;
  scrollbar-width: 0;
  font-weight: 500;
  margin-left: 10px;
}

.comment-card::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.django-ckeditor-widget {
  width: 100%;
}

textarea {
  width: 100%;
  height: 40px
}

.form-center {
  text-align: center;
}