{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block content %}
<section class="card-container">
    <p>Welcome to  c/{{channels.title}}!!</p>
</section>

<form action="{% url 'channels_delete' channels.id %}" method="POST" class="form">
  {% csrf_token %}
  <button type="submit" class="btn danger">Delete!</button>
</form>

<h3>Add a thread</h3>
<form action="{% url 'thread_create' channels.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ thread_form.media}}
    {{ thread_form.as_p }}
    <button type="submit">Create Thread</button>
</form>

{% for thread in channels.thread_set.all %}
    <div style="border: 1px solid black">
        <img src="{{ thread.header_image }}">
        <h1>{{ thread.title }}</h1>
        <p>{{ thread.body | safe }}</h1>
        <button>View Thread</button>
    </div>
    {% endfor %}

{% endblock content %}