{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/details.css' %}"/>

{% endblock %}

{% block content %}
<div class='div'>
  <section class="card-container">
      <p>Welcome to {{channels.title}}!!</p>
  </section>

  <form action="{% url 'channels_delete' channels.id %}" method="POST" class="form">
      {% csrf_token %}
      <button type="submit" class="btn danger button pure-button pure-button-active">Delete!</button>
  </form>

  <form action="{% url 'channels_update' channels.id %}" method="POST" class="form">
    {% csrf_token %}
    <button type="submit" class="btn danger button pure-button pure-button-active">edit!</button>
  </form>

  <h3>Add a thread</h3>
  <form action="{% url 'thread_create' channels.id %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      {{ thread_form.as_p }}
      <button type="submit" class="button pure-button pure-button-active">Create Thread</button>
  </form>

  {% for thread in channels.thread_set.all %}
      <div style="border: 1px solid black">

        <h1>{{ thread.title }}</h1>
        <p>{{ thread.body | safe }}</h1>
          <a href="{% url 'threads_details' thread.id %}">
          <button>View Thread</button>
          </a>
      </div>
</div>
{% endfor %}
{% endblock content %}