{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/thread_details.css' %}"/>
{% endblock %}
{% block content %}
    <section class="card-container">
        <h1> {{ thread.title }} </h1>
        <h1> {{ thread.body | safe }} </h1>
    </section>
    <div class="editdelete">
        {% if user.id == thread.user.id %}
            <form action="{% url 'threads_delete' thread.id %}" method="POST" class="form">
                {% csrf_token %}
                <button type="submit" class='btn submit button pure-button pure-button-active delete-btn'> Delete Thread </button>
            </form>
            <form action="{% url 'threads_update' thread.id %}" method="POST" class="form">
                {% csrf_token %}
                <button type="submit" class='btn submit button pure-button pure-button-active'> Edit Thread </button>
            </form>
        {% endif%}
    </div>
    <section class="page">
        <form action="{% url 'comment_create' thread.id %}" method="POST">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit" class='btn submit button pure-button pure-button-active'> Add comment </button>
        </form>
    <div class="comment-card" >
        {% for comment in thread.comment_set.all %}
            <p>{{ comment.user }}</p>
            <p> {{ comment.body }}</p>
            {% if user.id == comment.user.id %} 
            <form action="{% url 'comment_delete' comment.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class='btn submit button pure-button pure-button-active'> Delete Comment </button>
            </form>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}